/*
  Primary Sigeva color: #FF404E
  Secundaty Sigeva color: #343a40
  Color: https://color.adobe.com/pt/ZikColor-color-theme-9923819/
*/
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  /* background: #f8f9f1; */
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 120px;
  min-height: 100%;
}

/* BEGIN #nav-header */
#nav-header #logo-sigeva {
  background: url(../img/sigeva-beta.svg) no-repeat;
  background-size: 130px;
  width: 180px;
  height: 43px;
}

#nav-header {
  /* background: #f2717a !important; */
  background: #FF404E !important;
}

#nav-header .nav-link {
  color: white;
}

/* END #nav-header */

/* BEGIN .btn */
.btn {
  border-radius: 0px !important;
}

.btn-success {
  background: #1CA5B8;
  border: none;
}

.btn-success:hover {
  background: #1CA5B8;
  text-decoration: underline !important;
  border: none;
}

.btn-success:focus {
  box-shadow: 0 0 0 3px #124F5A;
}
/* END .btn */

a:hover {
  text-decoration: underline !important;
}

/* BEGIN .board */
.board {
  border-radius: 0px;
  margin-top: 20px;
  border-color: grey !important;
}

.board.card .card-header {
  /* background-color: #282828 !important; */
  background: #e9ecef !important;
  border-radius: 0px;
  /* color: white; */
}

/* END .board */

.event-card {
  margin-bottom: 10px;
}

/* BEGIN #events-board */
#events-board .event-board-body {
  padding: 10px !important;
}
/* END #events-board */

/* BEGIN footer */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 90px;
  padding: 20px;
  background-color: #e9ecef;
  color: black;
  font-size: 12pt;
}

footer a, a:hover {
  color: black;
}

/* END footer */

/* BEGIN form */
form .form-error-message {
  font-size: 10pt;
  color: red;
}
/* END form */

/* BEGIN error 404 */
#error404 {
  margin-top: 20px;
}
#error404 #error-text {

}
/* END error 404 */

/* BEGIN event dashboard */
.event-dashboard-top-padding {
  padding-top: 17px;
}

.event-dashboard-side-menu {
  margin-top: 10px;
}

.nav-link.active {
  background: grey;
  color: white;
}

.event-dashboard-side-menu li {
  background: #e9ecef;
}
.event-dashboard-side-menu li:hover {
  background: #6D6E6F;
}
.event-dashboard-side-menu li a {
  color: black;
}
.event-dashboard-side-menu li a:hover {
  color: white;
}

.event-dashboard-module .nav-pills .nav-link.active {
  background: #FF404E;
}
/* END event dashboard */

/* BEGIN dropzone */
.dropzone {
  width: auto;
  padding: 15px;
  background: rgb(244, 244, 244);
  border: 1px dashed #A4A4A4;
  border-radius: 10px;
  text-align: center;

}

.dropzone .dropzone-header {
  display: inline-block;
  color: #323232;
}

.dropzone .dropzone-header .dropzone-icon-box {
  float: left;
}

.dropzone .dropzone-header .dropzone-icon {
  background: url(../img/upload-icon.png) no-repeat;
  background-size: 50px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.dropzone.active {
  background: #EBEBEB;
  border: 1px solid #FF404E;
}

.dropzone .dropzone-error {
  color: #CF2B38;
  font-size: 11pt;
}

.dropzone .dropzone-title {
  color: #262626;
  font-weight: bold;
  margin-bottom: 10px;
}

.dropzone .dropzone-description {
  font-size: 10pt;
}
/* END dropzone */

h5 strong {
  border-bottom: 3px solid #CF2B38;
}

.table-print{
  width: 100vw!important;
}
.left-th{
   width:50vw!important;
   border-right:1px solid black;
  }
.right-th{
  width:50vw!important;
}
@media print {
  @page {
    margin: 0cm;
  }

  body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 200px;
    line-height: 1.4em;
  }

  * {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
  }

  .col-md-3.event-dashboard-top-padding {
    display: none;
  }
  .container-fluid {
    position: absolute;
    top: 0;
    left: 0;
  }

  body * {
    visibility: hidden;
  }

  #printable, #printable * {
    visibility: visible;
  }
  #printable {

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /* margin-top:20px; */
  }

.only-print-style thead th{
  font-weight: 300;
  border:1px solid #676666;
}
.only-print-style tr td{
  padding:15px;
  border:1px solid #676666;

}
}
.print-border-none{
  border:none !important;
  padding:4px !important;
}
.none-tr {
  border:none !important;
  padding:4px !important;

}
.none-th{
  border:none !important;
  padding:4px !important;
}

