<!DOCTYPE html>
<html>
	<head lang="pt-br">
		<meta charset="UTF-8">
		<title>Sigeva</title>
	</head>
	<body>
    <div id="app"><%- root %></div>
		<script src="public/js/bundle.js"></script>
	</body>
</html>
