doctype html
html
    head
        base(href='/')
        script(src='public/core-js/client/shim.min.js', type='text/javascript')
        script(src='public/zone.js/dist/zone.js', type='text/javascript')
        script(src='public/reflect-metadata/Reflect.js', type='text/javascript')
        script(src='public/systemjs/dist/system.src.js', type='text/javascript')
        script(src='public/systemjs.config.js', type='text/javascript')
        script.
            System.import('dashboard').catch(function(err){ console.error(err); });
        link(rel='stylesheet', type='text/css', href='public/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='public/css/main.css')
        title Sistema de Gerenciamento de Eventos Acadêmicos - Dashboard
    body
        app Carregando dashboard...