<div class="row">
    <div class="col-lg-12" style="text-align: center; padding: 20px 0px;">
        <img src="public/files/logo.png" width="360px">
    </div>
</div>

<div class="row">
    <div class="offset-lg-2 col-lg-8">

        <div class="bs-organizer login-box">

            <div class="row">
                <div class="col-lg-6">
                    <label for="mail" class="sr-only">Email</label>
                    <input type="email" id="mail" class="form-control" placeholder="Email" required autofocus>

                    <label for="password" class="sr-only">Senha</label>
                    <input type="password" id="password" class="form-control" placeholder="Senha" required>

                    <button 
                    class="btn btn-lg btn-primary btn-block" 
                    type="button">
                        Entrar
                    </button>
                </div>
                <div class="col-lg-6" style="text-align: center; padding: 18px 0px;">
                    <a href style="font-size: 36px;">Cadastrar-se</a>
                    <br>
                    <a href style="font-size: 16px;">Esqueci a senha</a>
                </div>
            </div>

        </div> <!-- end / div.bs-organizer -->

    </div>

</div> <!-- end / div.row -->
